{% load static %}
<html>
    <head>
        <title>CarnitasReu</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">CarnitasReu</a></h1>
            <img src="..." class="https://www.freepik.es/foto-gratis/primer-disparo-flor-morada_11818270.htm#query=flor&position=0&from_view=keyword&track=sph&uuid=d9c0199e-b676-45a6-b1f2-d584b4d6b185" alt="...">
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>